<!--The content below is only a placeholder and can be replaced.-->
<div class="App">
  <div class="App-todos-left">
    <img alt="Angular Logo" src="assets/images/logo-andela.png" class="logo">
    <div class="intro">
      <h2>{{ title }}</h2>
      <h3>We have got you covered.</h3>
      <h5>Add Your todo down below.</h5>
    </div>
    <div class="App-inputs">
      <form class="App-form">
        <div class="form-inputs">
          <input type="text" class="input-control" placeholder="add your todo on list">
        </div>
        <div class="form-inputs">
          <input type="submit" class="btn-submit" value="Save to the List">
        </div>
      </form>
    </div>
  </div>
  <div class="App-todos-right">
    <div class="Todos-display">
      <h2>Todos List</h2>
      <div class="lists">
        <div class="list">
          <h3>Visiting My Family</h3>
          <div class="todo-actions">
           <div>X</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
